config.py

*.pyc
# Created by https://www.gitignore.io/api/kicad

### KiCad ###
# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv


# End of https://www.gitignore.io/api/kicad


### MPLabX ###
#Ignore List for Microchips MPLabX IDE
#Form of netbeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map


# End of https://www.gitignore.io/api/mplabx
