[Unit]
Description=DoorWeb
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/door
ExecStart=/home/door/web.py
SyslogIdentifier=doorweb
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
